<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="QuanLyQuanAn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="QLQAConnection"
    connectionString="Server=.\SQLEXPRESS;&#xD;&#xA;			Database=QLQA;&#xD;&#xA;			Integrated Security=True;&#xD;&#xA;			MultipleActiveResultSets=True;&#xD;&#xA;			TrustServerCertificate=True"




    providerName="System.Data.SqlCient"/>
	</connectionStrings>
 <userSettings>
  <QuanLyQuanAn.Properties.Settings>
   <setting name="SelectedColor" serializeAs="String">
    <value />
   </setting>
   <setting name="IsFontSet" serializeAs="String">
    <value>False</value>
   </setting>
  </QuanLyQuanAn.Properties.Settings>
 </userSettings>
</configuration>